.agendaTitle {
  @include estiloTitulo(inherit);
  text-align: left;
  padding: 5rem 0rem;
  h1 {
    font-size: 6rem;
  }
  & a {
    font-size: 1.5rem;
    font-family: lato;
    font-style: normal;
  }
  & img {
    height: 7rem;
    margin-left: 2rem;
  }
}

.agenda {
  @include estiloTexto($texto, 100);
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-evenly;
  h2 {
    font-size: 2.2rem;
    border-top: 1px solid white;
    padding-top: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  &__Mes {
    @extend %columnaAncho;
  }
  &__Dia {
    @extend %columnaAncho;
    h3 {
      font-size: 0.7rem;
      background-color: $deepblue;
      padding: 0.8rem;
      border-radius: 2rem;
      display: inline-block;
      clear: both;
      line-height: 0.7rem;
      text-transform: uppercase;
    }
  }
  &__Tag {
    margin-bottom: 1rem;
  }
  &__Espacio {
    margin-bottom: 1rem;
  }
  &__Sold {
    @include estiloTexto($texto - 0.2, 400);
    @extend %sticker;
    position: relative;
    left: 65%;
    top: -80px;
    text-align: center;
    vertical-align: middle;

    transform: rotate(-20deg);
    & p {
      line-height: inherit;
      font-size: inherit;
    }
  }
}

/* RESPONSIVE */

/* AGENDA */

@media (max-width: 992px) {
  .agendaTitle {
    text-align: center;
    height: 85vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 8vh;
      line-height: 8vh;
    }
  }
  .agenda {
    flex-direction: column;
    h2 {
      font-size: 2rem;
    }
    &__Tag {
      display: none;
    }
    &__Mes {
      @extend %anchoMobile;
      border-top: 0;
    }
    &__Dia {
      @extend %anchoMobile;
      p {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
    &__Sold {
      p {
        font-size: 0.8rem;
        line-height: inherit;
      }
    }
  }
}
